.about {
    
    .main {
        width: 1040px;
    }

    .sectionheader {
        position: relative;
        text-align: left;
        padding-left: 5%;
    }

    .bio {
        position: relative;
        left: 0;
    }

    .image {
        margin-right: 5%;
        text-align: right;
    }

    .bio,
    .image {
        display: inline-block;
        margin-bottom: 1em;
        text-align: left;
        vertical-align: top;
        width: 45%;
    }

    .row {
        text-align: center;
        vertical-align: top;
    }

    .cv-block {
        text-align: left;
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    .image {
        z-index: -100;
    }

    .bio {
        box-sizing: border-box;
        font-size: 2em;
        font-weight: bold;
        height: 310px;
        line-height: 1.5;

        p {
            margin-top: 2.7em;
            margin-bottom: 2.7em;
            padding-right: 2em;
        }
    }

    .image img {
        height: auto;
        max-width: 100%;
    }

    .cv {
        margin-bottom: 5em;
        min-height: 95vh;

        h3,
        p {
            font-size: 1.3em;
        }

        h3 {
            margin-top: 2.4em;
        }

        p {
            line-height: 1;
        }

        i {
            font-style: normal;
        }
    }

    .cv-section-title {
        font-size: 2.7em;
        font-weight: 400;
        margin-top: 4em;
        margin-bottom: 0
    }
    .cv-section-title::after {
        content: " —";
    }

}

@media screen and (max-width: 1040px) {
    .about {

        .bio {
            height: inherit;
            font-size: 1.6vw;

            p {
                padding-left: 5vw;
                padding-right: 5vw;
            }
        }

        .image {
            margin-bottom: 0;
        }

    }
}

@media screen and (max-width: 800px) {
    .about {

        .bio {
            // font-size: 1.8vw;
        }
    }
}

@media screen and (min-width: 420px) {

    @keyframes animateabout {
        from {
            transform: translateY(25px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .js { 
        
       .row {
        opacity: 0;
       }

        .animate {
            animation-delay: 0.2s;
            animation-duration: 0.5s;
            animation-name: animateabout;
            animation-fill-mode: forwards;
        }
    }
}

@media screen and (max-width: 420px) {
    .about {

        .sectionheader {
            padding-left: 0;
        }

        .bio,
        .image,
        .cv-block {
            display: block;
            width: 100%;
        }

        .image {
            position: relative;
        }

        .bio {
            padding-right: 0;
            font-size: 4.5vw;

        }

        .cv-section-title {
            padding-left: 1.5rem;
            margin-top: 2.5em;
        }

        .cv-section-title::after {
        content: none;
        }

    }
}