.about {
    
    .main {
        width: 1040px;
    }

    .sectionheader {
        // Align with other pages
        margin-top: 20px;
    }

    .cv-block {
        text-align: left;
        box-sizing: border-box;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        width: 49%;
        vertical-align: top;

        // Set custom block-level padding to override
        // generic settings in global.scss
        p,
        h1,
        h2,
        h3,
        h4 {
            padding-left: inherit;
            padding-right: inherit;
        }
    }

    .bio {
        box-sizing: border-box;
        font-size: 2.15em;
        font-weight: bold;
        line-height: 1.5;
        
        p {
            margin-top: 2.6em;
            padding-right: 2em;
        }
    }

    .image {
        text-align: right;
        padding-left: 1em;

        img {
            height: auto;
            max-width: 100%;
        }
    }
   

    .cv {
        margin-bottom: 5em;

        h3,
        p {
            font-size: 1.3em;
        }

        h3 {
            margin-top: 2.4em;
        }

        p {
            line-height: 1;
        }

        i {
            font-style: normal;
        }
    }

    .cv-section-title {
        font-size: 2.7em;
        font-weight: 400;
        margin-top: 4em;
        margin-bottom: 0
    }
    .cv-section-title::after {
        content: " —";
    }

}


@media screen and (max-width: 1040px) {
    .about {

        .bio {
            font-size: 2vw;
        }

    }
}

@media screen and (max-width: 600px) {
    .about {

        .bio,
        .image {
            display: block;
            width: 100%;
        }

        .bio {
            font-size: 3vw;

            p {
                margin-top: 0;
            }
        }

        .image {
            padding-left: 0;
            padding-right: 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    
    }
}



@media screen and (max-width: 425px) {
    .about {

        .cv-block {
            display: block;
            width: 100%;
        }

        .cv-section-title {
            margin-top: 3em;
        }

        .cv-section-title::after {
        content: none;
        }

        .bio {
            font-size: 4.2vw;

        }

    }
}



@media screen and (min-width: 425px) {

    @keyframes animateabout {
        from {
            transform: translateY(25px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .js { 
        
       .row {
        opacity: 0;
       }

        .animate {
            animation-delay: 0.2s;
            animation-duration: 0.5s;
            animation-name: animateabout;
            animation-fill-mode: forwards;
        }
    }
}