.post-type-archive-work {

    // Grid is an ordered list. Make it display as a grid of items using
    // flexbox, and remove list styling.
    .project-archive-grid {
        list-style-type: none;
        margin: 20px auto;
        padding: 0;
        width: 660px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    // Each item should be a block and have a margin
    .project-archive-item {
        display: inline-block;
        margin: 20px;
    }

    // Remove underlines from links
    // Shouldn't appear on images anyway, but also removes from
    // .post-thumbnail-placeholder
    .project-archive-item-link {
        text-decoration: none;
    }

    // Set fixed size for each box, and center contents vertically and
    // horizontally (particularly for .post-thumbnail-placeholder)
    .project-archive-item-link * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 180px;
        width: 180px;
    }

    // Handle posts which don't have a featured image
    .post-thumbnail-placeholder {
        font-size: 10em;
        color: #fff;
        // mirror image styles from _images.scss
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
        transition: all 0.5s;
        box-shadow: 0 0 2.5rem 0.5rem rgba(0, 0, 0, .2);
    }

    .post-thumbnail-placeholder:hover {
        // Mirror image styles from _images.scss
        -webkit-filter: brightness(70%);
        filter: brightness(70%);
        box-shadow: none;
        transition: all 0.5s;
    }
}

// Breakpoint at 3-column archive grid
@media all and (max-width: 660px) {
    .post-type-archive-work {

        // Reduce to 2 columns
        .project-archive-grid {
            width: 440px;
        }

    }
}

// Breakpoint at 2-column archive grid
@media all and (max-width: 420px) {
    .post-type-archive-work {

        // Reduce margins
        .project-archive-item {
            margin: 10px;
        }

        // Adjust grid width to new margins
        .project-archive-grid {
            width: 400px;
        }

    }
}

// Breakpoint at 2-column archive grid w/ 10px margins
@media all and (max-width: 400px) {
    .post-type-archive-work {

        // Stretch grid to 100% width, remove margins
        .project-archive-grid {
            width: 100%;
            margin: 0;
        }

        // Remove shadow
        .project-archive-grid img,
        .post-thumbnail-placeholder {
            box-shadow: none;
        }

        // Force cells to be 50% width
        //
        // Will cause some upscaling on 4.7" screens
        // However phones of this age should have decent
        // upscaling filters so this is an acceptable compromise.

        .project-archive-item {
            margin: 0;
        }

        .project-archive-item-link * {
            width: 50vw;
            height: 50vw;
        }

        // Add a border and shrink text on mobile displays
        .post-thumbnail-placeholder {
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 6em;
        }

    }
}
