.single {

    .main {
        width: inherit; // Override global width setting
    }

    .title,
    .date,
    .location,
    .content p {
        width: 930px;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-style: italic;
        margin: 2.5em auto;
    }

    .location,
    .date,
    .image-credit {
        font-size: 1.3em;
        line-height: 1.6;
    }

    .image-credit-link {
        font-size: inherit;
    }

    .content {
        margin-bottom: 5em;
        margin-top: 5em;
    }

    &-post {
        .content {
            text-align: left;
        }
    }

}

@media screen and (max-width: 950px) {
    .title,
    .date,
    .location,
    .content p {
        max-width: 100%;
        width: inherit;
        margin-left: 1em;
        margin-right: 1em;
        box-sizing: border-box;
    }
    .content {
        text-align: left;
    }
}
