body {
    font-size: 62.5%;
    text-align: center;
    background: #b0001b;
}

.main {

    margin: 25em auto 0 auto;
    width: 666px;

    iframe,
    .wp-video
    {
        width: 660px !important;        // Override WP inline styles
        height: 370px !important;       // Override WP inline styles
        max-width: 100%;                // Prevent overflow
        max-height: 56.25vw !important; // Maintain 16:9 aspect
        display: block;                 // iframes need blocking to center
        margin-left: auto;
        margin-right: auto;
    }

    .wp-audio-shortcode {
        @extend .wp-video;              // Inherit video styles
        height: 40px !important;        // Override video styles
    }
}

@media screen and (max-width: 660px) {
    // Size iFrames (usually Youtube, Vimeo) to full width 16:9
    .main iframe {
        width: 100vw !important;
        height: 56.25vw !important;
    }
}

@media screen and (max-width: 1040px) {

    .site-header,
    .main,
    .single-work .main,
    footer {
        max-width: 100%;
    }

}

